<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>311945430944-jmrl853pahkf9pa7gnbvafmlau3kmfso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311945430944-jmrl853pahkf9pa7gnbvafmlau3kmfso</string>
	<key>API_KEY</key>
	<string>AIzaSyC93miX_O0IfpfXqE3IsLcp3efv-Xxli7E</string>
	<key>GCM_SENDER_ID</key>
	<string>311945430944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sideapps.TouchHorse</string>
	<key>PROJECT_ID</key>
	<string>touchhorse-660bc</string>
	<key>STORAGE_BUCKET</key>
	<string>touchhorse-660bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:311945430944:ios:2adc4212aaecc40f</string>
	<key>DATABASE_URL</key>
	<string>https://touchhorse-660bc.firebaseio.com</string>
</dict>
</plist>